<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Phân hệ người dân</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkdyZlma94xlEhyGvEsx56ccQdcU9pJ2g&libraries=places&callback=initMap" async defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <link rel="stylesheet" href="/Dan/css/map.css">
    </head>
    <body>
    
        {{{body}}}
        
        <script src="/Dan/js/script.js" ></script>
        <script>
            var alertMsg = new URLSearchParams(window.location.search).get('alertOK');

            // Hiển thị thông báo nếu có
            if (alertMsg) {
                alert(alertMsg);
            }
        </script>
    
    </body>
</html>
