<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>BẢNG BÁO CÁO</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link rel="stylesheet" href="/Dan/css/report.css">
            {{!-- Recaptcha --}}
            <!-- Recaptcha -->
            <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>

            <script>
                function validateRecaptcha() {
                    var response = grecaptcha.getResponse();
                    console.log('Aaaa:', response);

                    if (response.length == 0) {
                        alert('Vui lòng xác nhận bạn không phải robot.');
                        return false;
                    }
                    return true;
                }

                var alertMsg = '{{session.alertMsg}}';

                // Hiển thị thông báo nếu có
                if (alertMsg) {
                    alert(alertMsg);
                    setTimeout(function() {
            
                        alertMsg = null;
                    }, 5000);
                }
            </script>
        </head>
        <body>

            {{{body}}}

        </body>
    </html>
