<head>
  <title>Phân hệ cán bộ sở VH-TT</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script type="module" src="assets/js/index.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/html/assets/css/so.css" />
  <script src="script.js" defer></script>

</head>

<body>

  <header class="containter-fluid bg-primary">
    <nav class="navbar navbar-expand-sm  bg-primary">
      <div class="container">
        <a class="navbar-brand text-light" href="/showQuan">Ads Management</a>
        <a class="active text-light"style="text-decoration: none;" href="/showQuan">Quản lý danh sách Quận, Phường</a>
        <a class="text-light "style="text-decoration: none;" href="/showLoaiQC">Loại quảng cáo, hình thức báo cáo</a>
        <a class="text-light"style="text-decoration: none;" href="../chart/report.html">Thống kê báo cáo & Cách thức xử lý</a>
        <!-- <a class="text-light"style="text-decoration: none;" href="../Assign/assign.html">Phân công khu vực quản lý</a> -->
        <div class="dropdown">
          <a class="btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Phân công khu vực quản lí
          </a>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../Login_Register/register.html">Đăng kí</a></li>
            <li><a class="dropdown-item" href="../Assign/assign.html">Phân công khu vực quản lí</a></li>
            
          </ul>
        </div>
      </div>
    </nav>
  </header>
    {{{body}}}

</body>