<head>
  <title>Phân hệ cán bộ sở VH-TT</title>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="module" src="assets/js/index.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/so.css" />
  <script src="script.js" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>

  <header class="containter-fluid bg-primary">
    <nav class="navbar navbar-expand-sm bg-primary fixed-top d-flex justify-content-around align-items-center flex-wrap">
      
        {{!-- <a class="navbar-brand text-light" href="/showQuan">Ads Management</a> --}}
        <a class="active text-light" style="text-decoration: none;" href="/showQuan">Xem danh sách</a>
        <a class="text-light " style="text-decoration: none;" href="/showLoaiQC">Loại quảng cáo &#38; hình thức báo cáo</a>
        <a class="text-light" style="text-decoration: none;" href="/showLocation">Điểm đặt quảng cáo</a>
        <!-- <a class="text-light"style="text-decoration: none;" href="../Assign/assign.html">Phân công khu vực quản lý</a> -->
        {{!-- phân công khu vực quản lí --}}
        <a class="active text-light" style="text-decoration: none;" href="/showRegister">Tạo tài khoản</a>

        <div class="dropdown">
          <a class="btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Xét duyệt
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
            <li><a class="dropdown-item" href="#">Yêu cầu cấp phép</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thống kê
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Báo Cáo</a></li>
            <li><a class="dropdown-item" href="#">Xử lý</a></li>
          </ul>
        </div>

        <div id="avatar-dropdown" class="btn-group d-flex align-items-center justify-content-between">
          <img src="https://www.w3schools.com/bootstrap5/img_avatar1.png" alt="Avatar Logo" style="width:40px;"
            class="rounded-pill">
          <button class="btn text-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">Username</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
          </ul>
        </div>

      
    </nav>
  </header>
  {{{body}}}

</body>