<html>
  <head>
    <title>Phân hệ cán bộ phường</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script type="module" src="Phan he/Phuong/assets/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" aria-current="page">Trang chủ <span class="visually-hidden">(current)</span></a>
            <a class="nav-item nav-link" href="Chitiet.html">Chi tiết</a>
            <a class="nav-item nav-link" href="Chinhsua.html">Chỉnh sửa</a>
            <a class="nav-item nav-link" href="Taomoi.html">Tạo mới</a>
            <a class="nav-item nav-link" href="Danhsach.html">Danh sách</a>
        </div>
    </nav>
    </header>

    {{{body}}}
    
  </body>
</html>