<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trang đăng nhập cán bộ</title>
		<link rel="stylesheet" href="assets/css/login.css">
	</head>
	<body>
		<section class="prompt">
			<h3>Ads management</h3>
			<hr>
			<h1>Đổi mật khẩu</h1>
			<p class="mb-4 alert-danger danger p-3">Xác nhận mật khẩu cũ và nhập mật khẩu mới cho tài khoản của bạn</p>
			<form action="/changePass" method="POST">
				<section>
					<label for="current-password">Mật khẩu hiện tại</label>
					<input id="curpassword" name="curpassword" type="password" required>
				</section>
				<section>
					<label for="new-password">Mật khẩu mới</label>
					<input id="newpassword" name="newpassword" type="password" required>
				</section>
				<section>
					<label for="verify">Xác nhận mật khẩu</label>
					<input id="verify" name="verify" type="password" required>
				</section>
				<button type="submit">Xác nhận</button>
			</form>
		</section>
	</body>
	<script>
		if ('{{message}}') {
			alert('{{message}}');
		}
	</script>
</html>
