<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trang đăng nhập cán bộ</title>
		<link rel="stylesheet" href="assets/css/login.css">
	</head>
	<body>
		<section class="prompt">
			<h3>Ads management</h3>
			<hr>
			<h1>Đăng nhập</h1>
			<p class="mb-4 {{#if message}}alert-danger danger p-3{{/if}}">{{#if message}}{{message}}{{else}}Nhập tên tài khoản và mật khẩu bên dưới{{/if}}</p>
			<form action="/login" method="POST">
				<section>
					<label for="username">Tên tài khoản</label>
					<input id="username" name="username" type="text" autocomplete="username" required autofocus>
				</section>
				<section>
					<label for="current-password">Mật khẩu</label>
					<input id="current-password" name="password" type="password" autocomplete="current-password" required>
				</section>
				<div>
					<label for="remember">Remember Me</label>
					<input type="checkbox" id="remember" name="remember" />
				</div>
				<button type="submit">Đăng nhập</button>
			</form>
		</section>
	</body>
</html>
