<div id="map"></div>
<input id="pac-input" class="controls" type="text" placeholder="Tìm kiếm trên Google Map">
<div id="locationBtn"  onmouseover="showLocationText()" onmouseout="hideLocationText()">
  <div id="locationIcon">&#x1F4CD;</div>
  <div id="locationText" style="display: none"><b>Vị trí của tôi</b></div>
</div>
<div id="hideQC">Ẩn/hiện</div>