<div id="map"></div>
<div id="locationBtn"  onmouseover="showLocationText()" onmouseout="hideLocationText()">
  <div id="locationIcon">&#x1F4CD;</div>
  <div id="locationText" style="display: none"><b>Vị trí của tôi</b></div>
</div>
<div id="hide" onclick="hide()">Ẩn/hiện</div>