<div id="map"></div>
  <div id="locationBtn"  onmouseover="showLocationText()" onmouseout="hideLocationText()">
    <div id="locationIcon">&#x1F4CD;</div>
    <div id="locationText" style="display: none"><b>My Location</b></div>
  </div>