<body style=" margin-top: 65px;">
  <div class="d-flex flex-row justify-content-between align-items-stretch flex-wrap align-content-start bd-highlight"
    style="margin-top: 65px">
    <div id="left-section"
      class="col-6 border border-dark border-3 rounded px-1 py-2 d-flex flex-column align-items-center justify-content-center text-center">
      <h2>Hình ảnh bảng quảng cáo mới</h2>
      <img class="mx-1 my-2 px-1 py-1 border border-dark border-2 img-fluid"
        src="https://saigoncpa.vn/uploads/source/Thi%20C%C3%B4ng%20Qu%E1%BA%A3ng%20C%C3%A1o/BANG_QUANG_CAO_NGOAI_TROI/thi-cong-quang-cao-ngoai-troi-anh-1.jpg">
      <img class="mx-1 my-2 px-1 py-1 border border-dark border-2 img-fluid"
        src="https://solution.com.vn/upload_images/images/2017-tin-tuc/thiet-ke-bien-quang-cao/thiet-ke-bien-quang-cao-ngoai-troi.jpg">
    </div>

    <div id="right-section"
      class="col-6 border border-dark border-3 rounded px-1 py-2 d-flex flex-row align-contents-center rounded">
      <button type="button" class="btn btn-close text-dark position-absolute top-4 end-0 m-3"
        aria-label="Close"></button>
      <div class="card-header col-12">
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong> Thông tin địa điểm:</strong> </h4>
        <h5 class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1">Trường THCS Nguyễn Du</h5>
        <h5 class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1">Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1</h5>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong>Loại bảng quảng cáo: </strong></h4>
        <h5 class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1">Trụ treo băng rôn ngang</h5>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong>Kích thước: </strong></h4>
        <h5 class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1">2.5m x 10m</h5>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong> Số lượng: </strong></h4>
        <h5 class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1">1 trụ/bảng</h5>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong>Hình thức: </strong></h4>
        <h5 class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1">Cổ động chính trị</h5>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong>Phân loại: </strong></h4>
        <h5 class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1">Đất công/Công viên/Hành lang an toàn giao thông</h5>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong> Lý do chỉnh sửa: </strong></h4>
        <h6
          class="dflex fs-4 justify-content-start align-items-center mb-3 border border-2 border-secondary rounded px-1 py-1 flex-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse</h6>
        {{!-- <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-danger fs-4 me-2">Từ chối</button>
          <button type="button" class="btn btn-success fs-4">Đồng ý</button>
        </div> --}}
      </div>
    </div>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5paKst7kP-INwPaSuqoak2nRGeJOSTQc&callback=initMap"
      async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>


</body>