<body style=" margin-top: 65px;">
  <style>
    .image-container {
      position: relative;
      width: 100%;
    }

    .upload-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 5px;
      cursor: pointer;
      /* Add cursor pointer to indicate it's clickable */
    }

    .upload-input {
      display: none;
      /* Hide the file input */
    }

    .preview-image {
      width: 100%;
      height: auto;
      display: none;
    }
  </style>

  <div class="d-flex flex-row justify-content-between align-items-stretch flex-wrap align-content-start bd-highlight"
    style="margin-top: 65px">

    <div id="left-section"
      class="col-6 border border-dark border-3 rounded py-2 d-flex flex-column align-items-center justify-content-start text-center align-content-start">
      <h2>Hình ảnh minh họa</h2>
      <div class="image-container">
        <img class="my-2 px-1 py-1 border border-dark img-fluid" id="image-1"
          src="https://saigoncpa.vn/uploads/source/Thi%20C%C3%B4ng%20Qu%E1%BA%A3ng%20C%C3%A1o/BANG_QUANG_CAO_NGOAI_TROI/thi-cong-quang-cao-ngoai-troi-anh-1.jpg">
        <label for="upload-button-1" class="btn btn-success">Tải ảnh lên</label>
        <input type="file" id="upload-button-1" class="form-control visually-hidden" onchange="uploadImage(1)">
      </div>

      <div class="image-container">
        <img class="my-2 px-1 py-1 border border-dark img-fluid" id="image-2"
          src="https://solution.com.vn/upload_images/images/2017-tin-tuc/thiet-ke-bien-quang-cao/thiet-ke-bien-quang-cao-ngoai-troi.jpg">
        <label for="upload-button-1" class="btn btn-success">Tải ảnh lên</label>
        <input type="file" id="upload-button-2" class="form-control visually-hidden" onchange="uploadImage(2)">
      </div>
    </div>

    <div id="right-section"
      class="col-6 border border-dark border-3 rounded px-1 py-2 d-flex flex-row align-contents-center rounded">
      <button type="button" class="btn btn-close text-dark position-absolute top-4 end-0 m-3"
        aria-label="Close"></button>
      <div class="card-header col-12">
        <div class="d-flex align-items-center">
          <h4 class="mb-3 fs-2 me-5"><i class="bi bi-calendar-day-fill mx-5"></i><strong>Ngày bắt đầu hợp đồng:</strong></h4>
          <div class="flex-grow-1">
            <label for="starting-contract" class="form-label fs-6 mb-0">Tháng / Ngày / Năm</label>
            <div class="form-floating mb-3">
              <input type="date" id="starting-contract" name="date" required>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <h4 class="mb-3 fs-2 me-5"><i class="bi bi-calendar-day-fill mx-5"></i><strong>Ngày kết thúc hợp đồng:</strong></h4>
          <div class="flex-grow-1">
            <label for="ending-contract" class="form-label fs-6 mb-0">Tháng / Ngày / Năm</label>
            <div class="form-floating mb-3">
              <input type="date" id="ending-contract" name="date" required>
            </div>
          </div>
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-buildings-fill mb-3"></i><strong> Tên công ty:</strong> </h4>
        <div class="form my-1">
          <input type="text" class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="nameCompany" placeholder="Tên công ty">
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-envelope-fill mb-3"></i><strong> Địa chỉ Email:</strong> </h4>
        <div class="form my-1">
          <input type="email" class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="emailInput" placeholder="name@gmail.com">

        </div>

        <h4 class="mb-3 fs-2"><i class="bi bi-telephone-fill mb-3"></i><strong> Điện thoại:</strong> </h4>
        <div class="form my-1">
          <input type="text" class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="phonenumberInput" placeholder="024-19xx-xxxx">

        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong> Địa chỉ công ty:</strong> </h4>
        <div class="form my-1">
          <input type="text" class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="addressCompany" placeholder="420 Đ. Nguyễn Văn Cừ, Phường 4, Quận 5,Thành phố Hồ Chí Minh">
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-crosshair2 mb-3"></i><strong> Địa chỉ đặt điểm quảng cáo:</strong> </h4>
        <div class="form my-1">
          <input type="text" class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="addressAdvertisement" placeholder="420 Đ. Nguyễn Văn Cừ, Phường 4, Quận 5,Thành phố Hồ Chí Minh">
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-tags-fill mb-3"></i><strong> Phân loại/Loại vị trí:</strong> </h4>
        <div
          class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1 loai-vi-tri-dropdown d-flex position-relative">
          <button id="loai-vi-tri" class="btn btn-secondary btn-sm btn-light dropdown-toggle w-100 fs-5" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Phân loại/Loại vị trí:
          </button>
          <ul class="dropdown-menu w-100 position-absolute start-0 dropdown-menu-bottom">
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Đất công/Công viên/Hành lang an toàn giao
                thông</a>
            </li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Đất tư nhân/Nhà ở riêng lẻ</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Trung tâm thương mại</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Chợ</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Cây xăng</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Nhà chờ xe buýt</a></li>
          </ul>
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong> Hình thức quảng cáo:</strong> </h4>
        <div
          class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1 loai-vi-tri-dropdown d-flex position-relative">
          <button id="hinh-thuc" class="btn btn-secondary btn-sm btn-light dropdown-toggle w-100 fs-5" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Hình thức quảng cáo:
          </button>
          <ul class="dropdown-menu w-100 position-absolute start-0 dropdown-menu-bottom">
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Cổ động chính trị</a>
            </li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Quảng cáo thương mại</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Xã hội hoá</a></li>
          </ul>
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-tags-fill mb-3"></i><strong> Loại bảng quảng cáo:</strong> </h4>
        <div
          class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1 loai-vi-tri-dropdown d-flex position-relative">
          <button id="loai-bang" class="btn btn-secondary btn-sm btn-light dropdown-toggle w-100 fs-5" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Loại bảng quảng cáo:
          </button>
          <ul class="dropdown-menu w-100 position-absolute start-0 dropdown-menu-bottom">
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Trụ bảng hiflex</a>
            </li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Trụ màn hình điện tử LED</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Trụ hộp đèn</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Bảng hiflex ốp tường</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Màn hình điện tử ốp tường</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id=""> Trụ treo băng rôn dọc</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Trụ treo băng rôn ngang</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Trụ/Cụm pano</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Cổng chào</a></li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Trung tâm thương mại</a></li>
          </ul>
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-geo-alt-fill mb-3"></i><strong> Quy hoạch: </strong></h4>
        <div
          class="mb-3 fs-3 border border-2 border-secondary rounded px-1 py-1 loai-vi-tri-dropdown d-flex position-relative">
          <button id="quy-hoach" class="btn btn-secondary btn-sm btn-light dropdown-toggle w-100 fs-5" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Quy hoạch:
          </button>
          <ul class="dropdown-menu w-100 position-absolute start-0 dropdown-menu-bottom">
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Đã quy hoạch</a>
            </li>
            <li><a class="dropdown-item overflow-hidden text-truncate" id="">Chưa quy hoạch</a></li>
          </ul>
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-aspect-ratio-fill mb-3"></i><strong> Kích thước: </strong> </h4>
        <div class="form my-1">
          <input type="text" class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="kich-thuoc" placeholder="2.5m * 10m">
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-body-text mb-3"></i><strong> Nội dung quảng cáo:</strong> </h4>
        <div class="form my-1 d-flex justify-content-start align-items-start align-content-center flex-wrap ">
          <textarea class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="noi-dung-quang-cao" style="resize: none; max-height: 100vh;"
            placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse"></textarea>
        </div>
        <h4 class="mb-3 fs-2"><i class="bi bi-body-text mb-3"></i><strong> Lý do chỉnh sửa: </strong></h4>
        <div class="form my-1 d-flex justify-content-start align-items-start align-content-center flex-wrap ">
          <textarea class="form-control my-3 fs-3 border border-2 border-secondary rounded px-1 py-1"
            id="Lý do chỉnh sửa" style="resize: none; max-height: 100vh;"
            placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-danger fs-4 me-2">Hủy bỏ</button>
          <button type="button" class="btn btn-success fs-4">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script>
    function selectOption(buttonID, selectedText) {
      let button = document.getElementById(buttonID);
      button.innerHTML = selectedText;
    }
    function uploadImage(index) {
      const input = document.getElementById(`upload-button-${index}`);
      const image = document.getElementById(`image-${index}`);

      const file = input.files[0];

      if (file) {
        // Add your actual upload logic here
        // For now, let's just log a message to the console
        console.log(`Uploading image ${index}: ${file.name}`);

        // Update the src attribute with the image data for display
        const reader = new FileReader();
        reader.onload = function (e) {
          image.src = e.target.result;
        };
        reader.readAsDataURL(file);
      }
    }
  </script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5paKst7kP-INwPaSuqoak2nRGeJOSTQc&callback=initMap"
    async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>


</body>