<body>
  <div
    class="d-flex flex-row justify-content-between align-items-stretch flex-wrap align-content-start bd-highlight mx-4"
    style="margin-top: 65px">
    <div id="report-item"
      class="col-3 bg-light border border-secondary border-2 rounded px-1 py-2 mx-3 my-3 d-flex flex-column align-contents-center rounded">
      <div
        class="d-flex justify-content-start align-items-center flex-shrink-0 border border-secondary border-2 flex-nowrap">
        <div class="ms-2 flex-shrink-0">
          <img src="https://ngocsen.com/wp-content/uploads/2020/01/bien-quang-cao-ngoai-troi.jpg" alt=""
            style="width: 50px; height: auto">
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
            <span class="fw-bold me-1 align-self-start">Ngày bắt đầu hợp đồng:</span>
            <span class="overflow-hidden text-truncate">T2 08/01/2023</span>
          </span>
          <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
            <span class="fw-bold me-1 align-self-start">Ngày kết thúc hợp đồng:</span>
            <span class="overflow-hidden text-truncate">T3 09/01/2023</span>
          </span>
        </div>
      </div>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ:</span>
        <span class="overflow-hidden text-truncate">227, Đường Nguyễn Văn Cừ, phường 4 quận 5, TPHCM, Việt Nam</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Loại vị trí:</span>
        <span class="overflow-hidden text-truncate">Đất công/Công viên/Hành lang an toàn giao thông</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Hình thức quảng cáo:</span>
        <span class="overflow-hidden text-truncate">Giáo dục</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Tên công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">XUYEN VIET MEDIA CO. ,LTD</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Tên công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">XUYEN VIET MEDIA CO. ,LTD</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Email công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">xuyenvietmediocoltd.@gmail.com</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Điện thoại:</span>
        <span class="overflow-hidden text-truncate">090135086</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">228, Đường Nguyễn Văn Cừ, phường 4 quận 5, TPHCM, Việt Nam</span>
      </span>
      {{!-- <div class="mt-auto d-flex justify-content-end align-items-center">
        <span class="right-section ">
          <button class="info-btn btn btn-primary" type="button" aria-label="Close">
            <i class="bi bi-info-circle"></i>
          </button>
        </span>
      </div> --}}
    </div>
    <div id="report-item"
      class="col-3 bg-light border border-secondary border-2 rounded px-1 py-2 mx-3 my-3 d-flex flex-column align-contents-center rounded">
      <div
        class="d-flex justify-content-start align-items-center flex-shrink-0 border border-secondary border-2 flex-nowrap">
        <div class="ms-2 flex-shrink-0">
          <img src="https://ngocsen.com/wp-content/uploads/2020/01/bien-quang-cao-ngoai-troi.jpg" alt=""
            style="width: 50px; height: auto">
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
            <span class="fw-bold me-1 align-self-start">Ngày bắt đầu hợp đồng:</span>
            <span class="overflow-hidden text-truncate">T2 08/01/2023</span>
          </span>
          <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
            <span class="fw-bold me-1 align-self-start">Ngày kết thúc hợp đồng:</span>
            <span class="overflow-hidden text-truncate">T3 09/01/2023</span>
          </span>
        </div>
      </div>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ:</span>
        <span class="overflow-hidden text-truncate">227, Đường Nguyễn Văn Cừ, phường 4 quận 5, TPHCM, Việt Nam</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Loại vị trí:</span>
        <span class="overflow-hidden text-truncate">Đất công/Công viên/Hành lang an toàn giao thông</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Hình thức quảng cáo:</span>
        <span class="overflow-hidden text-truncate">Giáo dục</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Tên công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">XUYEN VIET MEDIA CO. ,LTD</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Tên công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">XUYEN VIET MEDIA CO. ,LTD</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Email công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">xuyenvietmediocoltd.@gmail.com</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Điện thoại:</span>
        <span class="overflow-hidden text-truncate">090135086</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">228, Đường Nguyễn Văn Cừ, phường 4 quận 5, TPHCM, Việt Nam</span>
      </span>
      {{!-- <div class="mt-auto d-flex justify-content-end align-items-center">
        <span class="right-section ">
          <button class="info-btn btn btn-primary" type="button" aria-label="Close">
            <i class="bi bi-info-circle"></i>
          </button>
        </span>
      </div> --}}
    </div>
    <div id="report-item"
      class="col-3 bg-light border border-secondary border-2 rounded px-1 py-2 mx-3 my-3 d-flex flex-column align-contents-center rounded">
      <div
        class="d-flex justify-content-start align-items-center flex-shrink-0 border border-secondary border-2 flex-nowrap">
        <div class="ms-2 flex-shrink-0">
          <img src="https://ngocsen.com/wp-content/uploads/2020/01/bien-quang-cao-ngoai-troi.jpg" alt=""
            style="width: 50px; height: auto">
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
            <span class="fw-bold me-1 align-self-start">Ngày bắt đầu hợp đồng:</span>
            <span class="overflow-hidden text-truncate">T2 08/01/2023</span>
          </span>
          <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
            <span class="fw-bold me-1 align-self-start">Ngày kết thúc hợp đồng:</span>
            <span class="overflow-hidden text-truncate">T3 09/01/2023</span>
          </span>
        </div>
      </div>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ:</span>
        <span class="overflow-hidden text-truncate">227, Đường Nguyễn Văn Cừ, phường 4 quận 5, TPHCM, Việt Nam</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Loại vị trí:</span>
        <span class="overflow-hidden text-truncate">Đất công/Công viên/Hành lang an toàn giao thông</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Hình thức quảng cáo:</span>
        <span class="overflow-hidden text-truncate">Giáo dục</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Tên công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">XUYEN VIET MEDIA CO. ,LTD</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Tên công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">XUYEN VIET MEDIA CO. ,LTD</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Email công ty/tổ chức:</span>
        <span class="overflow-hidden text-truncate">xuyenvietmediocoltd.@gmail.com</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Điện thoại:</span>
        <span class="overflow-hidden text-truncate">090135086</span>
      </span>
      {{!-- <div class="mt-auto d-flex justify-content-end align-items-center">
        <span class="right-section ">
          <button class="info-btn btn btn-primary" type="button" aria-label="Close">
            <i class="bi bi-info-circle"></i>
          </button>
        </span>
      </div> --}}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>