<body>
  <content>
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Tìm kiếm theo địa chỉ"
    />
    <div id="map"></div>
    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5paKst7kP-INwPaSuqoak2nRGeJOSTQc&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>
    <div id="sidebar">
      <div id="section1">
        <img src="images/location.png" width=25px height=25px>
        <div id="locationInfo">
          <div class="line1">Thông tin địa điểm</div>
          <div class="line2">Coffee Anh Trí</div>
          <div class="line3">85 Trần Đình Xu, Phường Nguyễn Cư Trinh, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</div>
        </div>
      </div>
      <div id="section2a">
        <img src="images/ad.png" width=25px height=25px>
        <div id="adInfo">
          <div class="line1">Thông tin quảng cáo</div>
          <div class="line2">Bên thuê quảng cáo</div>
          <div class="line3">Nestlé Vietnam Ltd</div>
          <div class="line2">Nội dung quảng cáo</div>
          <div class="line3">MỚI! NESCAFÉ CAFÉ VIỆT PHIÊN BẢN ĐẶC BIỆT VỚI ARABICA</div>
          <div class="line2">Hình thức quảng cáo</div>
          <div class="line3">Quảng cáo thương mại</div>
          <div class="line2">Loại vị trí</div>
          <div class="line3">Đất tư nhân</div>
          <div class="line2">Thời hạn quảng cáo</div>
          <div class="line3">01/10/2023 - 01/01/2024</div>
        </div>
      </div>
      <div id="section2b">
        <img src="images/ad.png" width=25px height=25px>
        <div id="reportInfo">
          <div class="line1">Thông tin báo cáo</div>
          <div class="line2">Hình thức báo cáo</div>
          <div class="line3">Đóng góp ý kiến</div>
          <div class="line2">Nội dung báo cáo</div>
          <div class="line3">Bảng quảng cáo bị hư hại do thời tiết</div>
          <div class="line2">Thời điểm báo cáo</div>
          <div class="line3">31/10/2023</div>
          <div class="line2">Họ tên người gửi</div>
          <div class="line3">Lê Trường Giang</div>
          <div class="line2">Điện thoại liên lạc</div>
          <div class="line3">0912345678</div>
        </div>
      </div>
      <div class="button-container">
        <button class="btn1a" onclick="goToChinhsua()">Chỉnh sửa</button>
        <button class="btn1b" onclick="goToChitiet()">Chi tiết</button>
        <button class="btn2">ĐÓNG</button>
      </div>
    </div>
  </content>
</body>