<body style="height: 1000px; margin-top: 70px">
    <main>
        <div class="position-fixed bottom-0 end-0 mb-3 me-4">
            <button id="add-button" type="button" class="border-start-0 border-bottom-0 btn-custom">
                {{!-- <a class="dropdown-item" href="/DDQCmap"><i class="bi bi-database-add"></i></a> --}}
                <a href="/DDQCmap"><i class="bi bi-database-add custom-icon"></i></a>
            </button>
        </div>

        <div class="d-flex align-items-stretch flex-wrap flex-row bd-highlight ms-5 ps-5">
            <div id="ddqc-item" class="col-3 mx-4 my-3 px-1 border border-white rounded px-2 py-2">
                <div id="ad-purpose"
                    class="d-flex align-items-center justify-content-between flex-nowrap flex-row mb-2">
                    <div class="fw-bold align-self-center">
                        Cổ động chính trị
                    </div>
                    <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>

                <p class="text-left text-wrap h-50">
                    Đất công/Công viên/Hành lang an toàn giao thông <br>
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1

                </p>
                <p class="col-6 text-start text-nowrap text-capitalize fst-italic fw-bold fs-4">
                    Đã Quy Hoạch
                </p>
                <div id="button-area" class="d-flex align-items-end justify-content-end flex-nowrap flex-row mb-2">
                    <button class="col-3 btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                    <button class="col-3 btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>

            </div>

            <div id="ddqc-item" class="col-3 mx-4 my-3 px-1 border border-white rounded px-2 py-2">
                <div id="ad-purpose"
                    class="d-flex align-items-center justify-content-between flex-nowrap flex-row mb-2">
                    <div class="fw-bold align-self-center">
                        Cổ động chính trị
                    </div>
                    <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>

                <p class="text-left text-wrap h-50">
                    Đất công/Công viên/Hành lang an toàn giao thông <br>
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1

                </p>
                <p class="col-6 text-start text-nowrap text-capitalize fst-italic fw-bold fs-4">
                    Đã Quy Hoạch
                </p>
                <div id="button-area" class="d-flex align-items-end justify-content-end flex-nowrap flex-row mb-2">
                    <button class="col-3 btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                    <button class="col-3 btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>

            </div>

            <div id="ddqc-item" class="col-3 mx-4 my-3 px-1 border border-white rounded px-2 py-2">
                <div id="ad-purpose"
                    class="d-flex align-items-center justify-content-between flex-nowrap flex-row mb-2">
                    <div class="fw-bold align-self-center">
                        Cổ động chính trị
                    </div>
                    <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>

                <p class="text-left text-wrap h-50">
                    Đất công/Công viên/Hành lang an toàn giao thông <br>
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1

                </p>
                <p class="col-6 text-start text-nowrap text-capitalize fst-italic fw-bold fs-4">
                    Đã Quy Hoạch
                </p>
                <div id="button-area" class="d-flex align-items-end justify-content-end flex-nowrap flex-row mb-2">
                    <button class="col-3 btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                    <button class="col-3 btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>

            </div>

            
            {{!-- <div id="ddqc-item" class="col-2 mx-3 my-3 px-1 border border-white rounded px-2 py-2">
                <div id="ad-purpose"
                    class="d-flex align-items-center justify-content-between flex-nowrap flex-row mb-2">
                    <div class="fw-bold align-self-center">
                        Cổ động chính trị
                    </div>
                    <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>

                <p class="text-left text-wrap">
                    Đất công/Công viên/Hành lang an toàn giao thông <br>
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1
                </p>
                <p class="col-6 text-start text-nowrap text-capitalize fst-italic fw-bold fs-4">
                    Đã Quy Hoạch
                </p>
                <div id="button-area" class="d-flex align-items-end justify-content-end flex-nowrap flex-row mb-2">
                    <button class="col-3 btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                    <button class="col-3 btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>

            </div>

            <div id="ddqc-item" class="col-2 mx-3 my-3 px-1 border border-white rounded px-2 py-2">
                <div id="ad-purpose"
                    class="d-flex align-items-center justify-content-between flex-nowrap flex-row mb-2">
                    <div class="fw-bold align-self-center">
                        Cổ động chính trị
                    </div>
                    <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>

                <p class="text-left text-wrap">
                    Đất công/Công viên/Hành lang an toàn giao thông <br>
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1
                </p>
                <p class="col-6 text-start text-nowrap text-capitalize fst-italic fw-bold fs-4">
                    Đã Quy Hoạch
                </p>
                <div id="button-area" class="d-flex align-items-end justify-content-end flex-nowrap flex-row mb-2">
                    <button class="col-3 btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                    <button class="col-3 btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>

            </div>

            <div id="ddqc-item" class="col-2 mx-3 my-3 px-1 border border-white rounded px-2 py-2">
                <div id="ad-purpose"
                    class="d-flex align-items-center justify-content-between flex-nowrap flex-row mb-2">
                    <div class="fw-bold align-self-center">
                        Cổ động chính trị
                    </div>
                    <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>

                <p class="text-left text-wrap">
                    Đất công/Công viên/Hành lang an toàn giao thông <br>
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1
                </p>
                <p class="col-6 text-start text-nowrap text-capitalize fst-italic fw-bold fs-4">
                    Đã Quy Hoạch
                </p>
                <div id="button-area" class="d-flex align-items-end justify-content-end flex-nowrap flex-row mb-2">
                    <button class="col-3 btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                    <button class="col-3 btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>

            </div>

            <div id="ddqc-item" class="col-2 mx-3 my-3 px-1 border border-white rounded px-2 py-2">
                <div id="ad-purpose"
                    class="d-flex align-items-center justify-content-between flex-nowrap flex-row mb-2">
                    <div class="fw-bold align-self-center">
                        Cổ động chính trị
                    </div>
                    <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>

                <p class="text-left text-wrap">
                    Đất công/Công viên/Hành lang an toàn giao thông <br>
                    Đồng Khởi - Nguyễn Du (Sở Văn hóa và Thể thao), Phường Bến Nghé, Quận 1
                </p>
                <p class="col-6 text-start text-nowrap text-capitalize fst-italic fw-bold fs-4">
                    Đã Quy Hoạch
                </p>
                <div id="button-area" class="d-flex align-items-end justify-content-end flex-nowrap flex-row mb-2">
                    <button class="col-3 btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                    <button class="col-3 btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>

            </div> --}}


        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>