<body>
  <main>
    <div class="me-md-2 m-3 mx-5 px-3">
      <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        Tạo mới
      </button>
      <!-- Dropdown menu -->
      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
        <!-- Dropdown items -->
        <form action="/addQuan" method="POST">
          <div class="mb-3">
            <label for="" class="form-label">Tên Quận</label>
            <input type="text" class="form-control" name="QID" id="quanID" aria-describedby="helpId" placeholder=""
              required>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <form action="/showQuan" method="GET">
      <ul class="list-group card mx-5 fs-3" id="myList">
        {{#each quan}}
        <li class="list-group-item">


            <div class="card-header "><i class="bi bi-geo-alt px-3"></i><strong>Quận {{quanID}}</strong>
              <!-- Dropdown element -->
              <div class="dropdown text-end"> 
                <!-- Dropdown toggle button -->
                <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Xem thêm
                </button>
                <!-- Dropdown menu -->
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <!-- Dropdown items -->
                  <a class="dropdown-item" href="/chi-tiet">Chi tiết</a>
                  <a class="dropdown-item" href="/them-phuong">Thêm phường</a>
                  <a class="dropdown-item" href="/chinh-sua">Chỉnh sửa</a>
                  <a class="delete dropdown-item" id="deleteQuan" href="/xoaQuan">Xóa</a>
                </div>
              </div>

            </div>

        </li>
        {{/each}}
      </ul>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
      </script>
</body>