<!DOCTYPE HTML>
<html>

<head>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px; /* Đặt cỡ chữ to hơn theo nhu cầu */
    }

    @media only screen and (max-width: 600px) {
      #chartContainer {
        width: 100%;
        height: 400px; /* Điều chỉnh chiều cao nếu cần thiết */
      }
    }

    @media only screen and (min-width: 601px) and (max-width: 800px) {
      #chartContainer {
        width: 100%;
        height: 500px; /* Điều chỉnh chiều cao nếu cần thiết */
      }
    }

    /* Add more media queries as needed for different screen sizes */

    /* Default styling for larger screens */
    #chartContainer {
      width: 100%;
      height: 300px;
    }
  </style>
  <script type="text/javascript">
    window.onload = function () {
      var chart = new CanvasJS.Chart("chartContainer", {
        title: {
          text: "Thống kê báo cáo"
        },
        axisY: {
          maximum: 100
        },
        data: [
          {
            type: "bar",
            showInLegend: true,
            legendText: "Số lượng",
            color: "gold",
            dataPoints: [
              { y: 98, label: "Tố giác sai phạm" },
              { y: 21, label: "Đăng ký nội dung" },
              { y: 22, label: "Đóng góp ý kiến" },
              { y: 36, label: "Giải đáp thắc mắc" },
            ]
          },
          {
            type: "bar",
            showInLegend: true,
            legendText: "Đã xử lý xong",
            color: "#198754",
            dataPoints: [
              { y: 66, label: "Tố giác sai phạm" },
              { y: 44, label: "Đăng ký nội dung" },
              { y: 23, label: "Đóng góp ý kiến" },
              { y: 72, label: "Giải đáp thắc mắc" },
            ]
          },
          {
            type: "bar",
            showInLegend: true,
            legendText: "Đang xử lý",
            color: "#dc3545",
            dataPoints: [
              { y: 85, label: "Tố giác sai phạm" },
              { y: 28, label: "Đăng ký nội dung" },
              { y: 72, label: "Đóng góp ý kiến" },
              { y: 96, label: "Giải đáp thắc mắc" },
            ]
          }
        ]
      });

      chart.render();
    }

  </script>
  <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</head>

<body>
  <div id="chartContainer"></div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
