<body class="" style="margin-top: 70px">
  <div class="col-4 flex-items border border-danger px-1 py-1 mx-2 my-2 mx-auto text-center">
    <span class="thoi-gian">
      <span>Thời điểm gửi:</span>
      <span>Thứ hai, 07h00 a.m ngày 08 tháng 01 năm 2023</span>
    </span>
    <span class="bao-cao">
      <span class="title">Hình thức báo cáo</span>
      <span class="content">Tố giác sai phạm</span>
    </span>
  </div>


</body>