<body style="margin-top: 70px">
  <div class="container center-container my-4">
    <form class="row g-3" action="/register" method="post">
      <div class="col-md-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="inputLastName" name="lastname" placeholder="Nguyễn" required>
          <label for="inputLastName" class="form-label">Họ:</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="Linh" required>
          <label for="inputFirstName" class="form-label">Tên:</label>
        </div>
      </div>
      <div class="col-md-3">
        <label for="birthday" class="form-label fs-6 mb-0">Tháng / Ngày / Năm sinh</label>
        <div class="form-floating mb-3">
          <input type="date" id="birthday" name="date" required>
        </div>
      </div>
      <script>
        $(function () {
          $('#datepicker').datepicker();
        });

        function handleRoleChange() {
          var inputLevel = document.getElementById('inputLevel');
          var inputWard = document.getElementById('inputWard');

          if (inputLevel.value === 'Cán bộ quận') {
            inputWard.disabled = true;
            inputWard.value = 'Ô này đã bị vô hiệu hóa';  // Clear the value to prevent submitting disabled input
            document.getElementById('chucvu').value = 'quan';
          } else {
            document.getElementById('chucvu').value = 'phuong';
            inputWard.disabled = false;
            inputWard.value = '';
          }
        }
      </script>
      <div class="col-12">
        <div class="form-floating mb-1">
          <input name="email" type="email" class="form-control" id="emailInput" placeholder="name@gmail.com" required>
          <label for="emailInput" class="form-label">Email:</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating mb-3">
          <input name="telephone" type="text" class="form-control" id="phonenumberInput" placeholder="024-19xx-xxxx"
            required>
          <label for="phonenumberInput" class="form-label">Số điện thoại:</label>
        </div>
      </div>
      <div class="col-md-2">
        <label for="inputLevel" class="form-label">Chức vụ</label>
        <select id="inputLevel" class="form-select" onchange="handleRoleChange()">
          <option>Cán bộ phường</option>
          <option>Cán bộ quận</option>
        </select>
        <input type="hidden" name="chucvu" id="chucvu" required>
      </div>
      <div class="col-md-5">
        <label for="inputDistrict" class="form-label">Quận</label>
        <input name="quan" type="text" class="form-control" id="inputDistrict" placeholder="Nhập quận" required>
      </div>
      <div class="col-md-5">
        <label for="inputWard" class="form-label">Phường</label>
        <input name="phuong" type="text" class="form-control" id="inputWard" placeholder="Nhập phường" required>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input name="username" type="text" class="form-control" id="inputUserID" placeholder="caubengoknghek">
          <label for="inputUserID" class="form-label">Tên đăng nhập:</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input name="password" type="password" class="form-control" id="inputPassword" placeholder="caubengoknghek">
          <label for="inputPassword" class="form-label">Mật khẩu:</label>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-end align-items-end">
        <button type="submit" class="btn btn-success" id="submit-create-account">
          Xác nhận
        </button>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">

    </script>
</body>