<body>
  <div
    class="d-flex flex-row justify-content-start align-items-stretch flex-wrap align-content-start bd-highlight ms-5 ps-5"
    style="margin-top: 65px">
    <div id="report-item"
      class="col-3 bg-light border border-danger border-3 rounded px-1 py-2 ms-4 me-5 my-3 d-flex flex-column align-contents-center rounded">
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Thời điểm xin chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Thứ hai, 07h00, ngày 08 tháng 01 năm 2023</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Email:</span>
        <span class="overflow-hidden text-truncate">nguyenducvietgianghehe@gmail.com</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Người gửi:</span>
        <span class="overflow-hidden text-truncate">Nguyễn Đức Việt Giang</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Số điện thoại:</span>
        <span class="overflow-hidden text-truncate">090134508</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ mới:</span>
        <span class="overflow-hidden text-truncate">192, phường 21, quận Bình Thạnh, TPHCM, Việt Nam</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Hình thức quảng cáo:</span>
        <span class="overflow-hidden text-truncate">Trung tâm thương mại</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Lý do chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse</span>
      </span>
      <div class="mt-auto d-flex justify-content-between align-items-center">
        <span class="left-section">
          <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
            <i class="bi bi-info-circle"></i>
          </button>
        </span>
        <span class="right-section ">
          <button type="button" class="btn btn-danger mx-1">Hủy bỏ</button>
          <button type="button" class="btn btn-primary mx-1">Xác nhận</button>
        </span>
      </div>
    </div>
    <div id="report-item"
      class="col-3 bg-light border border-danger border-3 rounded px-1 py-2 ms-4 me-5 my-3 d-flex flex-column align-contents-center rounded">
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Thời điểm xin chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Thứ hai, 07h00, ngày 08 tháng 01 năm 2023</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Email:</span>
        <span class="overflow-hidden text-truncate">nguyenducvietgianghehe@gmail.com</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Người gửi:</span>
        <span class="overflow-hidden text-truncate">Nguyễn Đức Việt Giang</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Số điện thoại:</span>
        <span class="overflow-hidden text-truncate">090134508</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ mới:</span>
        <span class="overflow-hidden text-truncate">192, phường 21, quận Bình Thạnh, TPHCM, Việt Nam</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Hình thức quảng cáo:</span>
        <span class="overflow-hidden text-truncate">Trung tâm thương mại</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Lý do chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse</span>
      </span>
      <div class="mt-auto d-flex justify-content-between align-items-center">
        <span class="left-section">
          <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
            <i class="bi bi-info-circle"></i>
          </button>
        </span>
        <span class="right-section ">
          <button type="button" class="btn btn-danger mx-1">Hủy bỏ</button>
          <button type="button" class="btn btn-primary mx-1">Xác nhận</button>
        </span>
      </div>
    </div>
    <div id="report-item"
      class="col-3 bg-light border border-danger border-3 rounded px-1 py-2 ms-4 me-5 my-3 d-flex flex-column align-contents-center rounded">
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Thời điểm xin chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Thứ hai, 07h00, ngày 08 tháng 01 năm 2023</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Email:</span>
        <span class="overflow-hidden text-truncate">nguyenducvietgianghehe@gmail.com</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Người gửi:</span>
        <span class="overflow-hidden text-truncate">Nguyễn Đức Việt Giang</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Số điện thoại:</span>
        <span class="overflow-hidden text-truncate">090134508</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ mới:</span>
        <span class="overflow-hidden text-truncate">192, phường 21, quận Bình Thạnh, TPHCM, Việt Nam</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Hình thức quảng cáo:</span>
        <span class="overflow-hidden text-truncate">Trung tâm thương mại</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Lý do chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse</span>
      </span>
      <div class="mt-auto d-flex justify-content-between align-items-center">
        <span class="left-section">
          <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
            <i class="bi bi-info-circle"></i>
          </button>
        </span>
        <span class="right-section ">
          <button type="button" class="btn btn-danger mx-1">Hủy bỏ</button>
          <button type="button" class="btn btn-primary mx-1">Xác nhận</button>
        </span>
      </div>
    </div>
    <div id="report-item"
      class="col-3 bg-light border border-danger border-3 rounded px-1 py-2 ms-4 me-5 my-3 d-flex flex-column align-contents-center rounded">
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Thời điểm xin chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Thứ hai, 07h00, ngày 08 tháng 01 năm 2023</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Email:</span>
        <span class="overflow-hidden text-truncate">nguyenducvietgianghehe@gmail.com</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Người gửi:</span>
        <span class="overflow-hidden text-truncate">Nguyễn Đức Việt Giang</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Số điện thoại:</span>
        <span class="overflow-hidden text-truncate">090134508</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Địa chỉ mới:</span>
        <span class="overflow-hidden text-truncate">192, phường 21, quận Bình Thạnh, TPHCM, Việt Nam</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Hình thức quảng cáo:</span>
        <span class="overflow-hidden text-truncate">Trung tâm thương mại</span>
      </span>
      <span class="d-flex justify-content-start align-items-center flex-wrap flex-row mb-1">
        <span class="fw-bold me-1 align-self-start">Lý do chỉnh sửa:</span>
        <span class="overflow-hidden text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse</span>
      </span>
      <div class="mt-auto d-flex justify-content-between align-items-center">
        <span class="left-section">
          <button id="info-btn" type="button" class="btn btn-primary" aria-label="Close">
            <i class="bi bi-info-circle"></i>
          </button>
        </span>
        <span class="right-section ">
          <button type="button" class="btn btn-danger mx-1">Hủy bỏ</button>
          <button type="button" class="btn btn-primary mx-1">Xác nhận</button>
        </span>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>