<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trang đăng nhập cán bộ</title>
		<link rel="stylesheet" href="assets/css/login.css">
	</head>
	<body>
		<section class="prompt">
			<h3>Ads management</h3>
			<hr>
			<h1>Xác thực OTP</h1>
			<p class="mb-4 alert-danger danger p-3">Một đoạn mã OTP 6 chữ số đã được gửi đến mail {{email}}</p>
			<form action="/verify" method="POST">
				<section>
					<label for="otp">Nhập OTP</label>
					<input id="otp" name="otp" type="otp" autocomplete="otp" required autofocus>
				</section>
				<a class="signup_link" href="/resend" style="color: hsl(221, 91%, 49%); float: left;">Gửi lại</a>
				<a class="signup_link" href="/forgot" style="color: hsl(221, 91%, 49%); float: right;">Đổi email khác</a>
				<button type="submit">Xác nhận</button>
				
			</form>
		</section>
	</body>
	<script>
		if ('{{message}}') {
			alert('{{message}}');
		}
	</script>
</html>
