@media (min-width: 576px) {
  .custom-icon {
    font-size: 70px;
    /* Larger size for small screens and above */
  }
}

@media (min-width: 768px) {
  .custom-icon {
    font-size: 100px;
    /* Larger size for medium screens and above */
  }
}

@media (min-width: 992px) {
  .custom-icon {
    font-size: 120px;
    /* Larger size for large screens and above */
  }
}

@media (min-width: 1200px) {
  .custom-icon {
    font-size: 160px;
    /* Larger size for extra-large screens and above */
  }
}

#ddqc-item {
  background-color: rgb(211, 205, 205);
}

.custom-icon {
  color: rgba(40, 167, 69, 1);
  font-size: 50px;
}

#add-button {
  padding: 10px 20px;
  width: 100%;
  height: auto;
  transition: background-color 0.3s ease-in-out;
  border-top-color: rgba(40, 167, 69, 1);
  border-right-color: rgba(40, 167, 69, 1);
  border-bottom-right-radius: 58%;
  border-top-left-radius: 58%;
  background-color: white;
}

#add-button:hover {
  background-color: rgba(40, 167, 69, 1);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

#add-button:hover .custom-icon {
  color: white;
}

#add-button:active {
  box-shadow: 0 0 0 0;
  transition: box-shadow 0.15s;
}

.input-group-append {
  cursor: pointer;
}

#discard-create-account {
  background-color: rgba(255, 0, 0);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
  border: none;
}

#discard-create-account:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 10px rgba(255, 34, 34, 0.8);
}

#submit-create-account {
  background-color: rgb(40, 167, 69);
  ;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
  border: none;
}

#submit-create-account:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 10px rgba(71, 255, 114, 0.8);
}

.fab-container {
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-color: #016fb9;
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  height: 100%;
  font-style: 25px;
  color: #ffffff;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: fixed;
  bottom: 70px;
  right: 0;
  opacity: 0;
  transition: all 0.3 ease;
  transform-origin: 85% bottom;
}

.fab:hover+.fab-options {
  transform: scale(1);
  opacity: 1;
}

.fab-options:hover {
  transform: scale(1);
  opacity: 1;
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  cursor: pointer;
}

.form-container {
  display: none;
}